@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffeaea;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

#atleta-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}

.foto img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #e7669c; /* cor de borda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

a {
  font-size: 36px;
  color: #e7669c; 
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: #333333;
  margin: 8px 0;
}

p {
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  margin-top: 15px;
}

h1 {
  display: inline-block;
  margin-top: 20px;
  background-color: #e7669c;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #e7669c;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .foto img {
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  a {
    padding: 8px 16px;
  }
}
